.grand-application {
    position: relative;
    padding-top: 32px;

    &__title {
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: var(--f-weight-bold);
        line-height: 40px;
        color: var(--black);
    }
}
